input[type="radio"]:checked + label {
    color:red;
}

body{

background: rgb(122,122,122);
background: linear-gradient(0deg, rgba(122,122,122,1) 0%, rgba(230,230,230,1) 100%);
}

#nousererror{
	font-size: 24px;
	background-color: red;
	margin:5px;
}

#textfield
{
	display:none;
    font-size:22px;
    padding:10px;
    background-color:#757575;
    border-radius:10px;
    border-color:black;
    opacity:0.9;
    margin-top: 10px;
}

#messagefield
{
    font-size : 20px;
    padding : 2px;
    border-radius:15px;
    border-color:black;
}


#UserIdField
{
    position:relative;
    border-radius : 4px;
    padding:3px;
    border:1px solid black;
}

#viesti
{
    position:relative;
    margin-top:5px;
    height:100px;
    width : 100%;
    border-radius : 5px;
    border:1px solid black;
    resize:none;
    font-size : 22px;
}

#addentrybtn{
	font-size: 28px;
	background-color: #9e9e9e;
}

#laheta
{
    margin-top:10px;
    margin-bottom:10px;
    font-size:22px;
    text-align: center;
    font-weight : bold;
    position:relative;
    padding:3px;
    width: 130px;
    height:auto;
    border-radius : 5px;
}

#aluetext
{
    text-align:center;
    font-size:25px;
}

#aluelaatikko
{
    position:relative;
    background-color:#5b5b5b;
    border-radius:10px;
    text-align:center;
    width:100%;
}

.aluelabel
{
    font-size:26px;
}

.replybtn{
	align-items: center;
	margin: 0px;
	border-radius: 5px;
	border: 3px solid black;
}

.entrydiv
{
	background-color: #5f6a6a;
	margin-top: 20px;
	border-radius: 4px;
	font-size: 22px;
	border: 3px solid black;
}

.entryheader
{
	font-size:28px;
	background-color: gray;
}

.replydiv
{
	position:relative;
	width: 98%; 
	left:2%;
	background-color: gray;
	margin-top: 10px;
	border-radius: 4px;
	font-size: 22px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


.entrybody{
	font-family:helvetica;
	width: 100%;
	min-height: 50px;
	background-color: white;
	margin: 0px;
	padding:0px;